<!DOCTYPE html>
<html>
  <head>
  <h1>Today</h1>
  </head>

  <p> The date is <%= Date.today.strftime("%A, %B %d, %Y") %></p>


</html>


#https://ruby-doc.org/stdlib-2.3.1/libdoc/date/rdoc/DateTime.html#method-i-strftime