<!DOCTYPE html>
<html>
    <head>
        <title>today</title>
    </head>
    <body>
        <h1>Today</h1>
        # d = DateTime.parse('3rd Feb 2001 04:05:06+03:30')
        # d = DateTime.parse(datetime.now)
        <p><%= "The date is #{Time.now.strftime("%A")}, #{DateTime.now.strftime("%B")} #{DateTime.now.day}, #{DateTime.now.year}" %></p>
        #{DateTime.now.day}, #{datetime.now.month} #{datetime.now.date}, #{datetime.now.year}
    </body>
</html>